@font-face {
    font-family: "Paris 2024";
    font-style: normal;
    font-weight: 700;
    src: url("./Paris2024-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Paris 2024";
    font-style: normal;
    font-weight: 900;
    src: url("./Paris2024-Black.woff2") format("woff2");
}
