@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 200;
    src: url("./Chillax-Extralight.woff2") format("woff2");
}

@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 300;
    src: url("./Chillax-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 400;
    src: url("./Chillax-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 500;
    src: url("./Chillax-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 700;
    src: url("./Chillax-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Chillax";
    font-style: normal;
    font-weight: 800;
    src: url("./Chillax-ExtraBold.woff2") format("woff2");
}
